*.pyc

.DS_Store
/src/static/node_modules/
/src/static/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/static/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/src/static/package-lock.json